In [1]:
import pandas as pd 
import numpy as np
import gc
from sklearn.impute import SimpleImputer

In [2]:
train_test = pd.read_csv('merge_data/train_test.csv')
bureau = pd.read_csv('merge_data/stat_bureau_bb.csv')
prev = pd.read_csv('merge_data/stat_prev.csv')
posh_cash = pd.read_csv('merge_data/stat_posh_cash.csv')
install = pd.read_csv('merge_data/stat_install.csv')
cc = pd.read_csv('merge_data/stat_cc.csv')

In [ ]:
train_test = pd.read_csv('homecredit/application_train.csv')
bureau = pd.read_csv('homecredit/bureau.csv')
bb 
prev = pd.read_csv('merge_data/stat_prev.csv')
posh_cash = pd.read_csv('merge_data/stat_posh_cash.csv')
install = pd.read_csv('merge_data/stat_install.csv')
cc = pd.read_csv('merge_data/stat_cc.csv')

In [3]:
train_test

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,TARGET
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,0,0,0,0,0,1,0,1,0,1.0
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,1,0,0,0,0,0,0,1,0,0.0
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,0,0,0,0,0,0,0,0,0,0.0
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,0,0,0,0,0,0,0,0,0,0.0
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,0,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356250,456221,0,0,1,0,121500.0,412560.0,17473.5,270000.0,0.002042,...,0,0,0,0,0,0,0,0,0,NaN
356251,456222,0,0,0,2,157500.0,622413.0,31909.5,495000.0,0.035792,...,0,0,0,0,0,0,0,0,0,NaN
356252,456223,0,1,1,1,202500.0,315000.0,33205.5,315000.0,0.026392,...,0,0,0,0,0,1,0,1,0,NaN
356253,456224,0,0,0,0,225000.0,450000.0,25128.0,450000.0,0.018850,...,0,0,0,0,1,0,0,1,0,NaN
356254,456250,0,1,0,0,135000.0,312768.0,24709.5,270000.0,0.006629,...,0,0,0,0,0,0,0,0,0,NaN

In [4]:
bureau

,SK_ID_CURR,BURO_DAYS_CREDIT_MIN,BURO_DAYS_CREDIT_MAX,BURO_DAYS_CREDIT_MEAN,BURO_DAYS_CREDIT_VAR,BURO_DAYS_CREDIT_ENDDATE_MIN,BURO_DAYS_CREDIT_ENDDATE_MAX,BURO_DAYS_CREDIT_ENDDATE_MEAN,BURO_DAYS_CREDIT_UPDATE_MEAN,BURO_CREDIT_DAY_OVERDUE_MAX,...,BURO_CREDIT_TYPE_nan_MEAN,BURO_STATUS_0_MEAN_MEAN,BURO_STATUS_1_MEAN_MEAN,BURO_STATUS_2_MEAN_MEAN,BURO_STATUS_3_MEAN_MEAN,BURO_STATUS_4_MEAN_MEAN,BURO_STATUS_5_MEAN_MEAN,BURO_STATUS_C_MEAN_MEAN,BURO_STATUS_X_MEAN_MEAN,BURO_STATUS_nan_MEAN_MEAN
0,100001,-1572,-49,-735.000000,240043.666667,-1329.0,1778.0,82.428571,-93.142857,0,...,0.0,0.336651,0.007519,0.0,0.0,0.0,0.0,0.441240,0.214590,0.0
1,100002,-1437,-103,-874.000000,186150.000000,-1072.0,780.0,-349.000000,-499.875000,0,...,0.0,0.406960,0.255682,0.0,0.0,0.0,0.0,0.175426,0.161932,0.0
2,100003,-2586,-606,-1400.750000,827783.583333,-2434.0,1216.0,-544.500000,-816.000000,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100004,-1326,-408,-867.000000,421362.000000,-595.0,-382.0,-488.500000,-532.000000,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100005,-373,-62,-190.666667,26340.333333,-128.0,1324.0,439.333333,-54.333333,0,...,0.0,0.735043,0.000000,0.0,0.0,0.0,0.0,0.128205,0.136752,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305806,456249,-2713,-483,-1667.076923,407302.243590,-2499.0,1363.0,-1232.333333,-1064.538462,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305807,456250,-1002,-760,-862.000000,15724.000000,-272.0,2340.0,1288.333333,-60.333333,0,...,0.0,0.130259,0.000000,0.0,0.0,0.0,0.0,0.252525,0.617216,0.0
305808,456253,-919,-713,-867.500000,10609.000000,-189.0,1113.0,280.500000,-253.250000,0,...,0.0,0.404906,0.000000,0.0,0.0,0.0,0.0,0.459677,0.135417,0.0
305809,456254,-1104,-1104,-1104.000000,NaN,-859.0,-859.0,-859.000000,-401.000000,0,...,0.0,0.216216,0.000000,0.0,0.0,0.0,0.0,0.783784,0.000000,0.0
305810,456255,-2337,-363,-1089.454545,502786.672727,-1243.0,27320.0,3231.272727,-531.090909,0,...,0.0,0.283249,0.000000,0.0,0.0,0.0,0.0,0.645601,0.071150,0.0

In [5]:
prev

,SK_ID_CURR,PREV_AMT_ANNUITY_MIN,PREV_AMT_ANNUITY_MAX,PREV_AMT_ANNUITY_MEAN,PREV_AMT_APPLICATION_MIN,PREV_AMT_APPLICATION_MAX,PREV_AMT_APPLICATION_MEAN,PREV_AMT_CREDIT_MIN,PREV_AMT_CREDIT_MAX,PREV_AMT_CREDIT_MEAN,...,PREV_PRODUCT_COMBINATION_Cash X-Sell: middle_MEAN,PREV_PRODUCT_COMBINATION_POS household with interest_MEAN,PREV_PRODUCT_COMBINATION_POS household without interest_MEAN,PREV_PRODUCT_COMBINATION_POS industry with interest_MEAN,PREV_PRODUCT_COMBINATION_POS industry without interest_MEAN,PREV_PRODUCT_COMBINATION_POS mobile with interest_MEAN,PREV_PRODUCT_COMBINATION_POS mobile without interest_MEAN,PREV_PRODUCT_COMBINATION_POS other with interest_MEAN,PREV_PRODUCT_COMBINATION_POS others without interest_MEAN,PREV_PRODUCT_COMBINATION_nan_MEAN
0,100001,3951.000,3951.000,3951.000000,24835.5,24835.5,24835.500,23787.0,23787.0,23787.00,...,0.00,0.000000,0.0,0.000000,0.0,1.00,0.0,0.0,0.0,0.0
1,100002,9251.775,9251.775,9251.775000,179055.0,179055.0,179055.000,179055.0,179055.0,179055.00,...,0.00,0.000000,0.0,0.000000,0.0,0.00,0.0,1.0,0.0,0.0
2,100003,6737.310,98356.995,56553.990000,68809.5,900000.0,435436.500,68053.5,1035882.0,484191.00,...,0.00,0.333333,0.0,0.333333,0.0,0.00,0.0,0.0,0.0,0.0
3,100004,5357.250,5357.250,5357.250000,24282.0,24282.0,24282.000,20106.0,20106.0,20106.00,...,0.00,0.000000,0.0,0.000000,0.0,0.00,1.0,0.0,0.0,0.0
4,100005,4813.200,4813.200,4813.200000,0.0,44617.5,22308.750,0.0,40153.5,20076.75,...,0.00,0.000000,0.0,0.000000,0.0,0.50,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334717,456251,6605.910,6605.910,6605.910000,40455.0,40455.0,40455.000,40455.0,40455.0,40455.00,...,0.00,0.000000,0.0,0.000000,0.0,1.00,0.0,0.0,0.0,0.0
334718,456252,10074.465,10074.465,10074.465000,57595.5,57595.5,57595.500,56821.5,56821.5,56821.50,...,0.00,0.000000,1.0,0.000000,0.0,0.00,0.0,0.0,0.0,0.0
334719,456253,3973.095,5567.715,4770.405000,19413.0,28912.5,24162.750,13945.5,27306.0,20625.75,...,0.00,0.000000,0.0,0.000000,0.0,1.00,0.0,0.0,0.0,0.0
334720,456254,2296.440,19065.825,10681.132500,18846.0,223789.5,121317.750,21456.0,247423.5,134439.75,...,0.00,0.500000,0.0,0.000000,0.0,0.50,0.0,0.0,0.0,0.0
334721,456255,2250.000,54022.140,20775.391875,45000.0,1170000.0,362770.875,45000.0,1271929.5,424431.00,...,0.25,0.000000,0.0,0.125000,0.0,0.25,0.0,0.0,0.0,0.0

In [6]:
posh_cash

,SK_ID_CURR,PREV_MONTHS_BALANCE_COUNT,PREV_MONTHS_BALANCE_MEAN,PREV_CNT_INSTALMENT_MEAN,PREV_CNT_INSTALMENT_FUTURE_MEAN,PREV_SK_DPD_MEAN,PREV_SK_DPD_DEF_MEAN,PREV_NAME_CONTRACT_STATUS_Active_SUM,PREV_NAME_CONTRACT_STATUS_Amortized debt_SUM,PREV_NAME_CONTRACT_STATUS_Approved_SUM,PREV_NAME_CONTRACT_STATUS_Canceled_SUM,PREV_NAME_CONTRACT_STATUS_Completed_SUM,PREV_NAME_CONTRACT_STATUS_Demand_SUM,PREV_NAME_CONTRACT_STATUS_Returned to the store_SUM,PREV_NAME_CONTRACT_STATUS_Signed_SUM,PREV_NAME_CONTRACT_STATUS_XNA_SUM,PREV_NAME_CONTRACT_STATUS_nan_SUM
0,100001,9,-72.555556,4.000000,1.444444,0.777778,0.777778,7,0,0,0,2,0,0,0,0,0
1,100002,19,-10.000000,24.000000,15.000000,0.000000,0.000000,19,0,0,0,0,0,0,0,0,0
2,100003,28,-43.785714,10.107143,5.785714,0.000000,0.000000,26,0,0,0,2,0,0,0,0,0
3,100004,4,-25.500000,3.750000,2.250000,0.000000,0.000000,3,0,0,0,1,0,0,0,0,0
4,100005,11,-20.000000,11.700000,7.200000,0.000000,0.000000,9,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337247,456251,9,-5.000000,7.875000,4.375000,0.000000,0.000000,7,0,0,0,1,0,0,1,0,0
337248,456252,7,-79.000000,6.000000,3.000000,0.000000,0.000000,6,0,0,0,1,0,0,0,0,0
337249,456253,17,-79.235294,6.705882,2.000000,0.294118,0.294118,15,0,0,0,2,0,0,0,0,0
337250,456254,20,-5.550000,14.900000,10.350000,0.000000,0.000000,20,0,0,0,0,0,0,0,0,0
337251,456255,71,-16.408451,22.788732,15.140845,0.070423,0.070423,65,0,0,0,6,0,0,0,0,0

In [7]:
install

,SK_ID_CURR,PREV_NUM_INSTALMENT_VERSION_COUNT,PREV_NUM_INSTALMENT_VERSION_MEAN,PREV_DAYS_INSTALMENT_MEAN,PREV_DAYS_ENTRY_PAYMENT_MEAN,PREV_AMT_INSTALMENT_MEAN,PREV_AMT_PAYMENT_MEAN,PREV_DAYS_DIFF_MEAN,PREV_DAYS_DIFF_MAX,PREV_DAYS_DIFF_MIN,PREV_AMT_DIFF_MEAN,PREV_AMT_DIFF_MAX,PREV_AMT_DIFF_MIN
0,100001,7,1.142857,-2187.714286,-2195.000000,5885.132143,5885.132143,7.285714,36.0,-11.0,0.00000,0.000,0.000
1,100002,19,1.052632,-295.000000,-315.421053,11559.247105,11559.247105,20.421053,31.0,12.0,0.00000,0.000,0.000
2,100003,25,1.040000,-1378.160000,-1385.320000,64754.586000,64754.586000,7.160000,14.0,1.0,0.00000,0.000,0.000
3,100004,3,1.333333,-754.000000,-761.666667,7096.155000,7096.155000,7.666667,11.0,3.0,0.00000,0.000,0.000
4,100005,9,1.111111,-586.000000,-609.555556,6240.205000,6240.205000,23.555556,37.0,-1.0,0.00000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
339582,456251,7,1.142857,-120.000000,-156.285714,7492.924286,7492.924286,36.285714,46.0,8.0,0.00000,0.000,0.000
339583,456252,6,1.000000,-2391.000000,-2393.833333,10069.867500,10069.867500,2.833333,11.0,-3.0,0.00000,0.000,0.000
339584,456253,14,1.000000,-2372.928571,-2387.428571,4399.707857,4115.915357,14.500000,51.0,-9.0,283.79250,3945.825,0.000
339585,456254,19,1.000000,-142.263158,-161.263158,10239.832895,10239.832895,19.000000,31.0,8.0,0.00000,0.000,0.000
339586,456255,74,1.824324,-463.945946,-472.013514,41464.713649,47646.215878,8.067568,35.0,-7.0,-6181.50223,28641.150,-615229.515

In [8]:
cc

,SK_ID_CURR,PREV_MONTHS_BALANCE_COUNT,PREV_MONTHS_BALANCE_MEAN,PREV_AMT_CREDIT_LIMIT_ACTUAL_MEAN,PREV_AMT_DRAWINGS_ATM_CURRENT_MEAN,PREV_AMT_DRAWINGS_CURRENT_MEAN,PREV_AMT_DRAWINGS_OTHER_CURRENT_MEAN,PREV_AMT_DRAWINGS_POS_CURRENT_MEAN,PREV_AMT_INST_MIN_REGULARITY_MEAN,PREV_AMT_PAYMENT_CURRENT_MEAN,...,PREV_SK_DPD_MEAN,PREV_SK_DPD_DEF_MEAN,PREV_NAME_CONTRACT_STATUS_Active_SUM,PREV_NAME_CONTRACT_STATUS_Approved_SUM,PREV_NAME_CONTRACT_STATUS_Completed_SUM,PREV_NAME_CONTRACT_STATUS_Demand_SUM,PREV_NAME_CONTRACT_STATUS_Refused_SUM,PREV_NAME_CONTRACT_STATUS_Sent proposal_SUM,PREV_NAME_CONTRACT_STATUS_Signed_SUM,PREV_NAME_CONTRACT_STATUS_nan_SUM
0,100006,6,-3.5,270000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,6,0,0,0,0,0,0,0
1,100011,74,-38.5,164189.189189,2432.432432,2432.432432,0.0,0.000000,3956.221849,4843.064189,...,0.000000,0.000000,74,0,0,0,0,0,0,0
2,100013,96,-48.5,131718.750000,6350.000000,5953.125000,0.0,0.000000,1454.539551,7168.346250,...,0.010417,0.010417,96,0,0,0,0,0,0,0
3,100021,17,-10.0,675000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,7,0,10,0,0,0,0,0
4,100023,8,-7.5,135000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,8,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103553,456244,41,-21.0,296341.463415,24475.609756,26842.388049,0.0,2363.015854,6514.200000,32720.544878,...,0.000000,0.000000,36,0,5,0,0,0,0,0
103554,456246,8,-5.5,135000.000000,0.000000,15199.256250,0.0,15199.256250,1439.150625,18778.275000,...,0.000000,0.000000,8,0,0,0,0,0,0,0
103555,456247,95,-49.0,144000.000000,2136.315789,2149.506474,0.0,13.190684,1414.704789,4883.755263,...,0.031579,0.021053,95,0,0,0,0,0,0,0
103556,456248,23,-13.0,900000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,23,0,0,0,0,0,0,0
103557,456250,12,-6.5,178875.000000,15000.000000,15000.000000,0.0,0.000000,7540.080000,10748.250000,...,0.000000,0.000000,12,0,0,0,0,0,0,0

In [9]:
merge_data = pd.merge(train_test, bureau, on='SK_ID_CURR', how='left')
merge_data

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,BURO_CREDIT_TYPE_nan_MEAN,BURO_STATUS_0_MEAN_MEAN,BURO_STATUS_1_MEAN_MEAN,BURO_STATUS_2_MEAN_MEAN,BURO_STATUS_3_MEAN_MEAN,BURO_STATUS_4_MEAN_MEAN,BURO_STATUS_5_MEAN_MEAN,BURO_STATUS_C_MEAN_MEAN,BURO_STATUS_X_MEAN_MEAN,BURO_STATUS_nan_MEAN_MEAN
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,0.0,0.406960,0.255682,0.000000,0.000000,0.000000,0.000000,0.175426,0.161932,0.0
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356250,456221,0,0,1,0,121500.0,412560.0,17473.5,270000.0,0.002042,...,0.0,0.513721,0.082939,0.000000,0.000000,0.000000,0.000000,0.393340,0.010000,0.0
356251,456222,0,0,0,2,157500.0,622413.0,31909.5,495000.0,0.035792,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356252,456223,0,1,1,1,202500.0,315000.0,33205.5,315000.0,0.026392,...,0.0,0.378922,0.006667,0.000000,0.000000,0.000000,0.000000,0.514412,0.100000,0.0
356253,456224,0,0,0,0,225000.0,450000.0,25128.0,450000.0,0.018850,...,0.0,0.235474,0.010921,0.000661,0.000661,0.000661,0.008592,0.442340,0.300690,0.0
356254,456250,0,1,0,0,135000.0,312768.0,24709.5,270000.0,0.006629,...,0.0,0.130259,0.000000,0.000000,0.000000,0.000000,0.000000,0.252525,0.617216,0.0

In [10]:
gc.enable()
del train_test, bureau
gc.collect()

0

In [11]:
merge_data = pd.merge(merge_data, prev, on='SK_ID_CURR', how='left')
merge_data

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,PREV_PRODUCT_COMBINATION_Cash X-Sell: middle_MEAN,PREV_PRODUCT_COMBINATION_POS household with interest_MEAN,PREV_PRODUCT_COMBINATION_POS household without interest_MEAN,PREV_PRODUCT_COMBINATION_POS industry with interest_MEAN,PREV_PRODUCT_COMBINATION_POS industry without interest_MEAN,PREV_PRODUCT_COMBINATION_POS mobile with interest_MEAN,PREV_PRODUCT_COMBINATION_POS mobile without interest_MEAN,PREV_PRODUCT_COMBINATION_POS other with interest_MEAN,PREV_PRODUCT_COMBINATION_POS others without interest_MEAN,PREV_PRODUCT_COMBINATION_nan_MEAN
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,1.0,0.0,0.0
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,0.0,0.333333,0.0,0.333333,0.0,0.000000,0.0,0.0,0.0,0.0
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.0,0.0,0.0,0.0
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,0.0,0.142857,0.0,0.142857,0.0,0.000000,0.0,0.0,0.0,0.0
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,0.5,0.166667,0.0,0.000000,0.0,0.166667,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356250,456221,0,0,1,0,121500.0,412560.0,17473.5,270000.0,0.002042,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0
356251,456222,0,0,0,2,157500.0,622413.0,31909.5,495000.0,0.035792,...,0.0,0.333333,0.0,0.000000,0.0,0.333333,0.0,0.0,0.0,0.0
356252,456223,0,1,1,1,202500.0,315000.0,33205.5,315000.0,0.026392,...,0.0,0.000000,0.0,0.500000,0.0,0.000000,0.5,0.0,0.0,0.0
356253,456224,0,0,0,0,225000.0,450000.0,25128.0,450000.0,0.018850,...,0.0,0.000000,0.0,0.200000,0.0,0.400000,0.0,0.0,0.0,0.0
356254,456250,0,1,0,0,135000.0,312768.0,24709.5,270000.0,0.006629,...,0.0,0.125000,0.0,0.000000,0.0,0.125000,0.0,0.0,0.0,0.0

In [12]:
gc.enable()
del prev
gc.collect()

0

In [13]:
merge_data = pd.merge(merge_data, posh_cash, on='SK_ID_CURR', how='left')
merge_data

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,PREV_NAME_CONTRACT_STATUS_Active_SUM,PREV_NAME_CONTRACT_STATUS_Amortized debt_SUM,PREV_NAME_CONTRACT_STATUS_Approved_SUM,PREV_NAME_CONTRACT_STATUS_Canceled_SUM,PREV_NAME_CONTRACT_STATUS_Completed_SUM,PREV_NAME_CONTRACT_STATUS_Demand_SUM,PREV_NAME_CONTRACT_STATUS_Returned to the store_SUM,PREV_NAME_CONTRACT_STATUS_Signed_SUM,PREV_NAME_CONTRACT_STATUS_XNA_SUM,PREV_NAME_CONTRACT_STATUS_nan_SUM
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,26.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,18.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,62.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356250,456221,0,0,1,0,121500.0,412560.0,17473.5,270000.0,0.002042,...,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
356251,456222,0,0,0,2,157500.0,622413.0,31909.5,495000.0,0.035792,...,70.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,0.0
356252,456223,0,1,1,1,202500.0,315000.0,33205.5,315000.0,0.026392,...,29.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
356253,456224,0,0,0,0,225000.0,450000.0,25128.0,450000.0,0.018850,...,29.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
356254,456250,0,1,0,0,135000.0,312768.0,24709.5,270000.0,0.006629,...,28.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0

In [14]:
gc.enable()
del posh_cash
gc.collect()

0

In [15]:
merge_data = pd.merge(merge_data, install, on='SK_ID_CURR', how='left')
merge_data

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,PREV_DAYS_INSTALMENT_MEAN,PREV_DAYS_ENTRY_PAYMENT_MEAN,PREV_AMT_INSTALMENT_MEAN,PREV_AMT_PAYMENT_MEAN,PREV_DAYS_DIFF_MEAN,PREV_DAYS_DIFF_MAX,PREV_DAYS_DIFF_MIN,PREV_AMT_DIFF_MEAN,PREV_AMT_DIFF_MAX,PREV_AMT_DIFF_MIN
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,-295.000000,-315.421053,11559.247105,11559.247105,20.421053,31.0,12.0,0.000000,0.000,0.0
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,-1378.160000,-1385.320000,64754.586000,64754.586000,7.160000,14.0,1.0,0.000000,0.000,0.0
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,-754.000000,-761.666667,7096.155000,7096.155000,7.666667,11.0,3.0,0.000000,0.000,0.0
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,-252.250000,-271.625000,62947.088438,62947.088438,19.375000,77.0,1.0,0.000000,0.000,0.0
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,-1028.606061,-1032.242424,12666.444545,12214.060227,3.636364,31.0,-12.0,452.384318,22655.655,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356250,456221,0,0,1,0,121500.0,412560.0,17473.5,270000.0,0.002042,...,-623.000000,-630.333333,91036.455000,91036.455000,7.333333,8.0,6.0,0.000000,0.000,0.0
356251,456222,0,0,0,2,157500.0,622413.0,31909.5,495000.0,0.035792,...,-987.232877,-992.712329,8086.162192,7771.447603,5.479452,26.0,-19.0,314.714589,9680.490,0.0
356252,456223,0,1,1,1,202500.0,315000.0,33205.5,315000.0,0.026392,...,-554.750000,-586.375000,23158.991250,23158.991250,31.625000,76.0,12.0,0.000000,0.000,0.0
356253,456224,0,0,0,0,225000.0,450000.0,25128.0,450000.0,0.018850,...,-917.724138,-924.965517,17269.234138,17269.234138,7.241379,15.0,-1.0,0.000000,0.000,0.0
356254,456250,0,1,0,0,135000.0,312768.0,24709.5,270000.0,0.006629,...,-357.580000,-365.760000,13238.063100,13044.983400,8.180000,30.0,-10.0,193.079700,9000.000,0.0

In [16]:
gc.enable()
del install
gc.collect()

0

In [17]:
merge_data = pd.merge(merge_data, cc, on='SK_ID_CURR', how='left')
merge_data

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,PREV_SK_DPD_MEAN_y,PREV_SK_DPD_DEF_MEAN_y,PREV_NAME_CONTRACT_STATUS_Active_SUM_y,PREV_NAME_CONTRACT_STATUS_Approved_SUM_y,PREV_NAME_CONTRACT_STATUS_Completed_SUM_y,PREV_NAME_CONTRACT_STATUS_Demand_SUM_y,PREV_NAME_CONTRACT_STATUS_Refused_SUM,PREV_NAME_CONTRACT_STATUS_Sent proposal_SUM,PREV_NAME_CONTRACT_STATUS_Signed_SUM_y,PREV_NAME_CONTRACT_STATUS_nan_SUM_y
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356250,456221,0,0,1,0,121500.0,412560.0,17473.5,270000.0,0.002042,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356251,456222,0,0,0,2,157500.0,622413.0,31909.5,495000.0,0.035792,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356252,456223,0,1,1,1,202500.0,315000.0,33205.5,315000.0,0.026392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356253,456224,0,0,0,0,225000.0,450000.0,25128.0,450000.0,0.018850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356254,456250,0,1,0,0,135000.0,312768.0,24709.5,270000.0,0.006629,...,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
gc.enable()
del cc
gc.collect()

0

In [19]:
def check_duplicate_columns(df):
    """
    Memeriksa kolom duplikat dalam DataFrame pandas.

    Args:
        df (pd.DataFrame): DataFrame yang ingin diperiksa.

    Returns:
        dict: Dictionary yang berisi nama kolom duplikat sebagai kunci
              dan list nama kolom lain yang identik dengannya sebagai nilai.
              Mengembalikan dictionary kosong jika tidak ada kolom duplikat.
    """
    duplicate_columns = {}
    seen_columns = {}

    for col in df.columns:
        current_column = df[col].values.tobytes()  # Representasikan kolom sebagai bytes untuk perbandingan

        if current_column in seen_columns:
            if current_column not in duplicate_columns:
                duplicate_columns[current_column] = [seen_columns[current_column]]
            duplicate_columns[current_column].append(col)
        else:
            seen_columns[current_column] = col

    # Ubah kunci dictionary dari representasi bytes menjadi nama kolom pertama yang ditemukan
    readable_duplicates = {}
    for byte_repr, cols in duplicate_columns.items():
        first_col_name = [name for byte, name in seen_columns.items() if byte == byte_repr][0]
        readable_duplicates[first_col_name] = cols

    return readable_duplicates

In [20]:
duplicates = check_duplicate_columns(merge_data)

In [21]:
def drop_duplicate_columns(df, duplicates_dict):
    """
    Menghapus kolom duplikat dari DataFrame berdasarkan dictionary duplikat.

    Args:
        df (pd.DataFrame): DataFrame untuk menghapus kolom.
        duplicates_dict (dict): Dictionary kolom duplikat yang dihasilkan
                                 oleh fungsi check_duplicate_columns.

    Returns:
        pd.DataFrame: DataFrame dengan kolom duplikat dihapus (mempertahankan kolom pertama dari setiap set duplikat).
    """
    columns_to_drop = set()
    for first_col, duplicate_list in duplicates_dict.items():
        for dup_col in duplicate_list:
            columns_to_drop.add(dup_col)

    df_cleaned = df.drop(columns=list(columns_to_drop), axis=1)
    return df_cleaned

# Menggunakan fungsi untuk menghapus duplikat:
if duplicates:
    df_cleaned = drop_duplicate_columns(merge_data, duplicates)
    print("\nDataFrame setelah menghapus kolom duplikat:")
    df_cleaned
else:
    print("\nTidak ada kolom duplikat untuk dihapus.")

DataFrame setelah menghapus kolom duplikat:

In [22]:
df_cleaned

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,PREV_SK_DPD_MEAN_y,PREV_SK_DPD_DEF_MEAN_y,PREV_NAME_CONTRACT_STATUS_Active_SUM_y,PREV_NAME_CONTRACT_STATUS_Approved_SUM_y,PREV_NAME_CONTRACT_STATUS_Completed_SUM_y,PREV_NAME_CONTRACT_STATUS_Demand_SUM_y,PREV_NAME_CONTRACT_STATUS_Refused_SUM,PREV_NAME_CONTRACT_STATUS_Sent proposal_SUM,PREV_NAME_CONTRACT_STATUS_Signed_SUM_y,PREV_NAME_CONTRACT_STATUS_nan_SUM_y
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356250,456221,0,0,1,0,121500.0,412560.0,17473.5,270000.0,0.002042,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356251,456222,0,0,0,2,157500.0,622413.0,31909.5,495000.0,0.035792,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356252,456223,0,1,1,1,202500.0,315000.0,33205.5,315000.0,0.026392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356253,456224,0,0,0,0,225000.0,450000.0,25128.0,450000.0,0.018850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356254,456250,0,1,0,0,135000.0,312768.0,24709.5,270000.0,0.006629,...,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Missing Values

In [23]:
def missing_values_table(df):
    # Total missing values
    mis_val = df.isnull().sum()

    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)

    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)

    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : 'Percent Missing (%)'})

    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    'Percent Missing (%)', ascending=False).round(2)

    # Print some summary information
    print ('Your selected dataframe has ' + str(df.shape[1]) + ' columns.\n'
            'There are ' + str(mis_val_table_ren_columns.shape[0]) + ' columns that have missing values.')

    # Return the dataframe with missing information
    return mis_val_table_ren_columns

In [24]:
missing = missing_values_table(df_cleaned)
missing

Your selected dataframe has 525 columns.
There are 348 columns that have missing values.

                                      Missing Values  Percent Missing (%)
PREV_AMT_PAYMENT_CURRENT_MEAN                 284135                79.76
PREV_CNT_DRAWINGS_POS_CURRENT_MEAN            284061                79.74
PREV_CNT_DRAWINGS_ATM_CURRENT_MEAN            284061                79.74
PREV_AMT_DRAWINGS_POS_CURRENT_MEAN            284061                79.74
PREV_AMT_DRAWINGS_OTHER_CURRENT_MEAN          284061                79.74
...                                              ...                  ...
EXT_SOURCE_2                                     668                 0.19
AMT_GOODS_PRICE                                  278                 0.08
AMT_ANNUITY                                       36                 0.01
CNT_FAM_MEMBERS                                    2                 0.00
DAYS_LAST_PHONE_CHANGE                             1                 0.00

[348 rows x 2 columns]

In [28]:
# Hapus kolom dengan missing values di atas 20%
threshold = 20  
high_missing_cols = missing[missing['Percent Missing (%)'] > threshold].index.tolist()
cleaned = df_cleaned.drop(columns=high_missing_cols)
missing_values_table(cleaned)

Your selected dataframe has 448 columns.
There are 271 columns that have missing values.

                        Missing Values  Percent Missing (%)
LIVINGAREA_MODE                 177902                49.94
LIVINGAREA_MEDI                 177902                49.94
LIVINGAREA_AVG                  177902                49.94
FLOORSMAX_AVG                   176341                49.50
FLOORSMAX_MODE                  176341                49.50
...                                ...                  ...
EXT_SOURCE_2                       668                 0.19
AMT_GOODS_PRICE                    278                 0.08
AMT_ANNUITY                         36                 0.01
CNT_FAM_MEMBERS                      2                 0.00
DAYS_LAST_PHONE_CHANGE               1                 0.00

[271 rows x 2 columns]

In [30]:
cleaned['TARGET'].notnull().sum()

307511

In [31]:
cleaned

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,PREV_DAYS_INSTALMENT_MEAN,PREV_DAYS_ENTRY_PAYMENT_MEAN,PREV_AMT_INSTALMENT_MEAN,PREV_AMT_PAYMENT_MEAN,PREV_DAYS_DIFF_MEAN,PREV_DAYS_DIFF_MAX,PREV_DAYS_DIFF_MIN,PREV_AMT_DIFF_MEAN,PREV_AMT_DIFF_MAX,PREV_AMT_DIFF_MIN
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,-295.000000,-315.421053,11559.247105,11559.247105,20.421053,31.0,12.0,0.000000,0.000,0.0
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,-1378.160000,-1385.320000,64754.586000,64754.586000,7.160000,14.0,1.0,0.000000,0.000,0.0
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,-754.000000,-761.666667,7096.155000,7096.155000,7.666667,11.0,3.0,0.000000,0.000,0.0
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,-252.250000,-271.625000,62947.088438,62947.088438,19.375000,77.0,1.0,0.000000,0.000,0.0
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,-1028.606061,-1032.242424,12666.444545,12214.060227,3.636364,31.0,-12.0,452.384318,22655.655,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356250,456221,0,0,1,0,121500.0,412560.0,17473.5,270000.0,0.002042,...,-623.000000,-630.333333,91036.455000,91036.455000,7.333333,8.0,6.0,0.000000,0.000,0.0
356251,456222,0,0,0,2,157500.0,622413.0,31909.5,495000.0,0.035792,...,-987.232877,-992.712329,8086.162192,7771.447603,5.479452,26.0,-19.0,314.714589,9680.490,0.0
356252,456223,0,1,1,1,202500.0,315000.0,33205.5,315000.0,0.026392,...,-554.750000,-586.375000,23158.991250,23158.991250,31.625000,76.0,12.0,0.000000,0.000,0.0
356253,456224,0,0,0,0,225000.0,450000.0,25128.0,450000.0,0.018850,...,-917.724138,-924.965517,17269.234138,17269.234138,7.241379,15.0,-1.0,0.000000,0.000,0.0
356254,456250,0,1,0,0,135000.0,312768.0,24709.5,270000.0,0.006629,...,-357.580000,-365.760000,13238.063100,13044.983400,8.180000,30.0,-10.0,193.079700,9000.000,0.0

In [33]:
# Pisahkan fitur (X) dan target (y)
X = cleaned.drop('TARGET', axis=1)  # Ganti 'target_column' dengan nama kolom target Anda
y = cleaned['TARGET']

In [38]:
X.replace([np.inf, -np.inf], np.nan, inplace=True)

In [40]:
numerical_cols = X.select_dtypes(include=['number']).columns
imputer_numerical = SimpleImputer(strategy='median')
X[numerical_cols] = imputer_numerical.fit_transform(X[numerical_cols])

In [42]:
missing_clean = missing_values_table(X)
missing_clean

Your selected dataframe has 447 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, Percent Missing (%)]
Index: []

In [44]:
df_combined = pd.concat([X, y], axis=1)
df_combined

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,PREV_DAYS_ENTRY_PAYMENT_MEAN,PREV_AMT_INSTALMENT_MEAN,PREV_AMT_PAYMENT_MEAN,PREV_DAYS_DIFF_MEAN,PREV_DAYS_DIFF_MAX,PREV_DAYS_DIFF_MIN,PREV_AMT_DIFF_MEAN,PREV_AMT_DIFF_MAX,PREV_AMT_DIFF_MIN,TARGET
0,100002.0,0.0,0.0,1.0,0.0,202500.0,406597.5,24700.5,351000.0,0.018801,...,-315.421053,11559.247105,11559.247105,20.421053,31.0,12.0,0.000000,0.000,0.0,1.0
1,100003.0,0.0,0.0,0.0,0.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,-1385.320000,64754.586000,64754.586000,7.160000,14.0,1.0,0.000000,0.000,0.0,0.0
2,100004.0,1.0,1.0,1.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,...,-761.666667,7096.155000,7096.155000,7.666667,11.0,3.0,0.000000,0.000,0.0,0.0
3,100006.0,0.0,0.0,1.0,0.0,135000.0,312682.5,29686.5,297000.0,0.008019,...,-271.625000,62947.088438,62947.088438,19.375000,77.0,1.0,0.000000,0.000,0.0,0.0
4,100007.0,0.0,0.0,1.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,...,-1032.242424,12666.444545,12214.060227,3.636364,31.0,-12.0,452.384318,22655.655,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356250,456221.0,0.0,0.0,1.0,0.0,121500.0,412560.0,17473.5,270000.0,0.002042,...,-630.333333,91036.455000,91036.455000,7.333333,8.0,6.0,0.000000,0.000,0.0,NaN
356251,456222.0,0.0,0.0,0.0,2.0,157500.0,622413.0,31909.5,495000.0,0.035792,...,-992.712329,8086.162192,7771.447603,5.479452,26.0,-19.0,314.714589,9680.490,0.0,NaN
356252,456223.0,0.0,1.0,1.0,1.0,202500.0,315000.0,33205.5,315000.0,0.026392,...,-586.375000,23158.991250,23158.991250,31.625000,76.0,12.0,0.000000,0.000,0.0,NaN
356253,456224.0,0.0,0.0,0.0,0.0,225000.0,450000.0,25128.0,450000.0,0.018850,...,-924.965517,17269.234138,17269.234138,7.241379,15.0,-1.0,0.000000,0.000,0.0,NaN
356254,456250.0,0.0,1.0,0.0,0.0,135000.0,312768.0,24709.5,270000.0,0.006629,...,-365.760000,13238.063100,13044.983400,8.180000,30.0,-10.0,193.079700,9000.000,0.0,NaN

In [45]:
df_filtered = df_combined[df_combined['TARGET'].notna()].reset_index(drop=True)
df_filtered

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,PREV_DAYS_ENTRY_PAYMENT_MEAN,PREV_AMT_INSTALMENT_MEAN,PREV_AMT_PAYMENT_MEAN,PREV_DAYS_DIFF_MEAN,PREV_DAYS_DIFF_MAX,PREV_DAYS_DIFF_MIN,PREV_AMT_DIFF_MEAN,PREV_AMT_DIFF_MAX,PREV_AMT_DIFF_MIN,TARGET
0,100002.0,0.0,0.0,1.0,0.0,202500.0,406597.5,24700.5,351000.0,0.018801,...,-315.421053,11559.247105,11559.247105,20.421053,31.0,12.0,0.000000,0.000,0.000,1.0
1,100003.0,0.0,0.0,0.0,0.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,-1385.320000,64754.586000,64754.586000,7.160000,14.0,1.0,0.000000,0.000,0.000,0.0
2,100004.0,1.0,1.0,1.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,...,-761.666667,7096.155000,7096.155000,7.666667,11.0,3.0,0.000000,0.000,0.000,0.0
3,100006.0,0.0,0.0,1.0,0.0,135000.0,312682.5,29686.5,297000.0,0.008019,...,-271.625000,62947.088438,62947.088438,19.375000,77.0,1.0,0.000000,0.000,0.000,0.0
4,100007.0,0.0,0.0,1.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,...,-1032.242424,12666.444545,12214.060227,3.636364,31.0,-12.0,452.384318,22655.655,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251.0,0.0,0.0,0.0,0.0,157500.0,254700.0,27558.0,225000.0,0.032561,...,-156.285714,7492.924286,7492.924286,36.285714,46.0,8.0,0.000000,0.000,0.000,0.0
307507,456252.0,0.0,0.0,1.0,0.0,72000.0,269550.0,12001.5,225000.0,0.025164,...,-2393.833333,10069.867500,10069.867500,2.833333,11.0,-3.0,0.000000,0.000,0.000,0.0
307508,456253.0,0.0,0.0,1.0,0.0,153000.0,677664.0,29979.0,585000.0,0.005002,...,-2387.428571,4399.707857,4115.915357,14.500000,51.0,-9.0,283.792500,3945.825,0.000,0.0
307509,456254.0,0.0,0.0,1.0,0.0,171000.0,370107.0,20205.0,319500.0,0.005313,...,-161.263158,10239.832895,10239.832895,19.000000,31.0,8.0,0.000000,0.000,0.000,1.0
307510,456255.0,0.0,0.0,0.0,0.0,157500.0,675000.0,49117.5,675000.0,0.046220,...,-472.013514,41464.713649,47646.215878,8.067568,35.0,-7.0,-6181.502230,28641.150,-615229.515,0.0

In [47]:
df_filtered['DAYS_BIRTH']

0         -9461.0
1        -16765.0
2        -19046.0
3        -19005.0
4        -19932.0
           ...
307506    -9327.0
307507   -20775.0
307508   -14966.0
307509   -11961.0
307510   -16856.0
Name: DAYS_BIRTH, Length: 307511, dtype: float64

In [48]:
df_filtered['DAYS_BIRTH'] = abs(df_filtered['DAYS_BIRTH'])
df_filtered['DAYS_BIRTH']

0          9461.0
1         16765.0
2         19046.0
3         19005.0
4         19932.0
           ...
307506     9327.0
307507    20775.0
307508    14966.0
307509    11961.0
307510    16856.0
Name: DAYS_BIRTH, Length: 307511, dtype: float64

In [49]:
df_filtered.to_csv('fix_dataset.csv', index=False)