In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import gc
warnings.filterwarnings('ignore')

# **Data Credit Card**
---
* Monthly balance snapshots of previous credit cards that the applicant has with Home Credit.
* This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample â€“ i.e. the table has (#loans in sample * # of relative previous credit cards * # of months where we have some history observable for the previous credit card) rows.
---
**Identifikasi Aplikasi dan Kartu:**

* SK_ID_PREV: ID aplikasi kredit sebelumnya (pengenal unik untuk setiap aplikasi sebelumnya). Previous credit application ID (unique identifier for each previous application).
* SK_ID_CURR: ID aplikasi kredit saat ini (memungkinkan Anda menghubungkan aplikasi sebelumnya dengan yang saat ini). Current credit application ID (allows you to link previous applications to the current one).

**Informasi Saldo dan Limit Kartu:**

* MONTHS_BALANCE: Bulan relatif dari snapshot saldo. Nilai negatif kemungkinan menunjukkan bulan-bulan sebelum titik referensi (0). Relative month of the balance snapshot. Negative values likely indicate months prior to the reference point (0).
* AMT_BALANCE: Jumlah saldo kartu kredit. Amount of credit card balance.
* AMT_CREDIT_LIMIT_ACTUAL: Limit kredit aktual kartu kredit. Actual credit limit of the credit card.

**Informasi Penarikan Tunai:**

* AMT_DRAWINGS_ATM_CURRENT: Jumlah penarikan tunai dari ATM. Amount of cash withdrawals from ATM.
* AMT_DRAWINGS_CURRENT: Jumlah penarikan tunai secara keseluruhan. Total amount of cash withdrawals.
* AMT_DRAWINGS_OTHER_CURRENT: Jumlah penarikan tunai selain dari ATM. Amount of cash withdrawals other than from ATM.
* AMT_DRAWINGS_POS_CURRENT: Jumlah penarikan tunai dari POS (Point of Sale). Amount of cash withdrawals from POS (Point of Sale).

**Informasi Pembayaran:**

* AMT_INST_MIN_REGULARITY: Jumlah minimum pembayaran reguler. Minimum amount of regular payment.
* AMT_PAYMENT_CURRENT: Jumlah pembayaran saat ini. Current payment amount.
* AMT_PAYMENT_TOTAL_CURRENT: Jumlah total pembayaran saat ini. Total current payment amount.

**Informasi Piutang:**

* AMT_RECEIVABLE_PRINCIPAL: Jumlah pokok piutang. Amount of receivable principal.
* AMT_RECIVABLE: Jumlah piutang. Amount of receivables.
* AMT_TOTAL_RECEIVABLE: Jumlah total piutang. Total amount of receivables.

**Jumlah Transaksi:**

* CNT_DRAWINGS_ATM_CURRENT: Jumlah penarikan tunai dari ATM. Number of cash withdrawals from ATM.
* CNT_DRAWINGS_CURRENT: Jumlah penarikan tunai secara keseluruhan. Total number of cash withdrawals.
* CNT_DRAWINGS_OTHER_CURRENT: Jumlah penarikan tunai selain dari ATM. Number of cash withdrawals other than from ATM.
* CNT_DRAWINGS_POS_CURRENT: Jumlah penarikan tunai dari POS (Point of Sale). Number of cash withdrawals from POS (Point of Sale).

**Informasi Angsuran dan Status:**

* CNT_INSTALMENT_MATURE_CUM: Jumlah angsuran yang jatuh tempo secara kumulatif. Number of installments that are due cumulatively.
* NAME_CONTRACT_STATUS: Status kontrak (misalnya, Aktif, Ditutup, dll.). Contract status (e.g., Active, Closed).

**Informasi Keterlambatan:**

* SK_DPD: Jumlah hari keterlambatan pembayaran. Number of days of payment delay.
* SK_DPD_DEF: Jumlah hari keterlambatan pembayaran terburuk. Number of days of the worst payment delay.

In [2]:
df_cc = pd.read_csv('homecredit/credit_card_balance.csv')
df_cc

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,1036507,328243,-9,0.000,45000,NaN,0.0,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840308,1714892,347207,-9,0.000,45000,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,23.0,Active,0,0
3840309,1302323,215757,-9,275784.975,585000,270000.0,270000.0,0.0,0.0,2250.000,...,273093.975,273093.975,2.0,2,0.0,0.0,18.0,Active,0,0
3840310,1624872,430337,-10,0.000,450000,NaN,0.0,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840311,2411345,236760,-10,0.000,157500,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,21.0,Completed,0,0

In [3]:
df_cc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   SK_ID_PREV                  int64
 1   SK_ID_CURR                  int64
 2   MONTHS_BALANCE              int64
 3   AMT_BALANCE                 float64
 4   AMT_CREDIT_LIMIT_ACTUAL     int64
 5   AMT_DRAWINGS_ATM_CURRENT    float64
 6   AMT_DRAWINGS_CURRENT        float64
 7   AMT_DRAWINGS_OTHER_CURRENT  float64
 8   AMT_DRAWINGS_POS_CURRENT    float64
 9   AMT_INST_MIN_REGULARITY     float64
 10  AMT_PAYMENT_CURRENT         float64
 11  AMT_PAYMENT_TOTAL_CURRENT   float64
 12  AMT_RECEIVABLE_PRINCIPAL    float64
 13  AMT_RECIVABLE               float64
 14  AMT_TOTAL_RECEIVABLE        float64
 15  CNT_DRAWINGS_ATM_CURRENT    float64
 16  CNT_DRAWINGS_CURRENT        int64
 17  CNT_DRAWINGS_OTHER_CURRENT  float64
 18  CNT_DRAWINGS_POS_CURRENT    float64
 19  CNT_INSTALMENT_MATURE_CUM   float64
 20  NAME_CONTRACT_STATUS        object
 21  SK_DPD                      int64
 22  SK_DPD_DEF                  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 673.9+ MB

In [4]:
print(df_cc['SK_ID_PREV'].unique().shape)
print(df_cc['SK_ID_CURR'].unique().shape)

(104307,)
(103558,)

In [5]:
df_cc = df_cc.drop('SK_ID_PREV', axis=1)

In [6]:
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df,
                        columns= categorical_columns,
                        dummy_na= nan_as_category       # Treat NaNs as category
                       )
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

nan_as_category = True

In [7]:
# 4.0 OneHotEncode (OHE) 'object' types in bureau

df_cc, cat_cols = one_hot_encoder(df_cc, nan_as_category= True)

In [8]:
num_aggregations = {
                     'MONTHS_BALANCE':             ['count', 'mean'],
                     'AMT_CREDIT_LIMIT_ACTUAL':    ['mean'],
                     'AMT_DRAWINGS_ATM_CURRENT':   ['mean'],
                     'AMT_DRAWINGS_CURRENT':       ['mean'],
                     'AMT_DRAWINGS_OTHER_CURRENT': ['mean'],
                     'AMT_DRAWINGS_POS_CURRENT':   ['mean'],
                     'AMT_INST_MIN_REGULARITY':    ['mean'],
                     'AMT_PAYMENT_CURRENT':        ['mean'],
                     'AMT_PAYMENT_TOTAL_CURRENT':  ['mean'],
                     'AMT_RECEIVABLE_PRINCIPAL':   ['mean'],
                     'AMT_RECIVABLE':              ['mean'],
                     'AMT_TOTAL_RECEIVABLE':       ['mean'],
                     'CNT_DRAWINGS_ATM_CURRENT':   ['mean'],
                     'CNT_DRAWINGS_CURRENT':       ['mean'],
                     'CNT_DRAWINGS_OTHER_CURRENT': ['mean'],
                     'CNT_DRAWINGS_POS_CURRENT':   ['mean'],
                     'CNT_INSTALMENT_MATURE_CUM':  ['mean'],
                     'SK_DPD': ['mean'],
                     'SK_DPD_DEF': ['mean'],
                    }

In [9]:
cat_aggregations = {}
for cat in cat_cols:
    cat_aggregations[cat] = ['sum']

# 5.2.1    
cat_aggregations

{'NAME_CONTRACT_STATUS_Active': ['sum'],
 'NAME_CONTRACT_STATUS_Approved': ['sum'],
 'NAME_CONTRACT_STATUS_Completed': ['sum'],
 'NAME_CONTRACT_STATUS_Demand': ['sum'],
 'NAME_CONTRACT_STATUS_Refused': ['sum'],
 'NAME_CONTRACT_STATUS_Sent proposal': ['sum'],
 'NAME_CONTRACT_STATUS_Signed': ['sum'],
 'NAME_CONTRACT_STATUS_nan': ['sum']}

In [10]:
# 5.3 Perform aggregation now on SK_ID_CURR:

grouped = df_cc.groupby('SK_ID_CURR')
credit_agg = grouped.agg({**num_aggregations, **cat_aggregations})

In [11]:
credit_agg.columns = pd.Index(['PREV_' + e[0] + "_" + e[1].upper() for e in credit_agg.columns.tolist()])
credit_agg = credit_agg.reset_index()
credit_agg

,SK_ID_CURR,PREV_MONTHS_BALANCE_COUNT,PREV_MONTHS_BALANCE_MEAN,PREV_AMT_CREDIT_LIMIT_ACTUAL_MEAN,PREV_AMT_DRAWINGS_ATM_CURRENT_MEAN,PREV_AMT_DRAWINGS_CURRENT_MEAN,PREV_AMT_DRAWINGS_OTHER_CURRENT_MEAN,PREV_AMT_DRAWINGS_POS_CURRENT_MEAN,PREV_AMT_INST_MIN_REGULARITY_MEAN,PREV_AMT_PAYMENT_CURRENT_MEAN,...,PREV_SK_DPD_MEAN,PREV_SK_DPD_DEF_MEAN,PREV_NAME_CONTRACT_STATUS_Active_SUM,PREV_NAME_CONTRACT_STATUS_Approved_SUM,PREV_NAME_CONTRACT_STATUS_Completed_SUM,PREV_NAME_CONTRACT_STATUS_Demand_SUM,PREV_NAME_CONTRACT_STATUS_Refused_SUM,PREV_NAME_CONTRACT_STATUS_Sent proposal_SUM,PREV_NAME_CONTRACT_STATUS_Signed_SUM,PREV_NAME_CONTRACT_STATUS_nan_SUM
0,100006,6,-3.5,270000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,6,0,0,0,0,0,0,0
1,100011,74,-38.5,164189.189189,2432.432432,2432.432432,0.0,0.000000,3956.221849,4843.064189,...,0.000000,0.000000,74,0,0,0,0,0,0,0
2,100013,96,-48.5,131718.750000,6350.000000,5953.125000,0.0,0.000000,1454.539551,7168.346250,...,0.010417,0.010417,96,0,0,0,0,0,0,0
3,100021,17,-10.0,675000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,7,0,10,0,0,0,0,0
4,100023,8,-7.5,135000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,8,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103553,456244,41,-21.0,296341.463415,24475.609756,26842.388049,0.0,2363.015854,6514.200000,32720.544878,...,0.000000,0.000000,36,0,5,0,0,0,0,0
103554,456246,8,-5.5,135000.000000,0.000000,15199.256250,0.0,15199.256250,1439.150625,18778.275000,...,0.000000,0.000000,8,0,0,0,0,0,0,0
103555,456247,95,-49.0,144000.000000,2136.315789,2149.506474,0.0,13.190684,1414.704789,4883.755263,...,0.031579,0.021053,95,0,0,0,0,0,0,0
103556,456248,23,-13.0,900000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,23,0,0,0,0,0,0,0
103557,456250,12,-6.5,178875.000000,15000.000000,15000.000000,0.0,0.000000,7540.080000,10748.250000,...,0.000000,0.000000,12,0,0,0,0,0,0,0

In [12]:
credit_agg.to_csv('stat_cc.csv', index=False)

# **Data Installment Payment**
---
* Repayment history for the previously disbursed credits in Home Credit related to the loans in our sample.
* There is a) one row for every payment that was made plus b) one row each for missed payment.
* One row is equivalent to one payment of one installment OR one installment corresponding to one payment of one previous Home Credit credit related to loans in our sample.
---
**Identifikasi Utama:**

* SK_ID_PREV: ID aplikasi kredit atau pinjaman sebelumnya. Ini adalah kunci identifikasi untuk pinjaman mana pembayaran dilakukan.
* SK_ID_CURR: ID aplikasi kredit atau pinjaman pelanggan saat ini. Meskipun pembayaran untuk pinjaman sebelumnya, ID ini kemungkinan memberikan konteks tentang situasi keuangan pelanggan saat ini.

**Detail Pembayaran:**

* NUM_INSTALMENT_VERSION: Nomor versi rencana angsuran untuk pinjaman sebelumnya yang sesuai. Rencana angsuran mungkin dimodifikasi, dan ini melacak versi tersebut.
* NUM_INSTALMENT_NUMBER: Nomor angsuran dalam urutan pembayaran. Misalnya, 1 adalah pembayaran pertama, 2 yang kedua, dan seterusnya.
* DAYS_INSTALMENT: Jumlah hari sebelum tanggal jatuh tempo pembayaran angsuran seharusnya dibayarkan. Nilai negatif menunjukkan bahwa pembayaran dilakukan sebelum tanggal jatuh tempo.
* DAYS_ENTRY_PAYMENT: Jumlah hari sebelum tanggal jatuh tempo pembayaran angsuran sebenarnya dibayarkan. Sekali lagi, nilai negatif berarti dibayarkan lebih awal.
* AMT_INSTALMENT: Jumlah yang seharusnya dibayarkan untuk angsuran.
* AMT_PAYMENT: Jumlah yang sebenarnya dibayarkan untuk angsuran.

**Informasi yang Diberikan Data Ini:**\
\
Data ini memberikan riwayat pembayaran angsuran pada pinjaman sebelumnya. Sangat berharga untuk memahami:

* Perilaku Pembayaran: Anda dapat menganalisis seberapa teratur dan tepat waktu pelanggan melakukan pembayaran. Membandingkan DAYS_INSTALMENT dan DAYS_ENTRY_PAYMENT mengungkapkan apakah pembayaran dilakukan lebih awal, tepat waktu, atau terlambat.
* Konsistensi Pembayaran: Membandingkan AMT_INSTALMENT dan AMT_PAYMENT menunjukkan apakah pelanggan secara konsisten membayar jumlah yang benar atau apakah ada perbedaan.
* Perubahan dalam Rencana Angsuran: NUM_INSTALMENT_VERSION memungkinkan Anda melacak apakah ada perubahan pada jadwal pembayaran yang disepakati.
* Riwayat Pelanggan: Data ini, dikombinasikan dengan data pinjaman dan aplikasi lain, membantu menciptakan gambaran komprehensif tentang riwayat pinjaman dan pembayaran pelanggan, yang penting untuk penilaian risiko kredit.

**Pengamatan dari Cuplikan Data:**

* Nilai negatif untuk DAYS_INSTALMENT dan DAYS_ENTRY_PAYMENT menunjukkan bahwa sebagian besar pembayaran dilakukan sebelum jadwal.
* Dalam beberapa kasus (lihat beberapa baris terakhir), AMT_PAYMENT adalah NaN (Not a Number), menunjukkan bahwa pembayaran mungkin belum dilakukan atau datanya hilang. Ini memerlukan penyelidikan lebih lanjut.
* Data menunjukkan cuplikan pembayaran angsuran terkait dengan pinjaman sebelumnya (SK_ID_PREV) untuk pelanggan yang juga memiliki aplikasi atau pinjaman saat ini (SK_ID_CURR).

In [13]:
df_installment = pd.read_csv('homecredit/installments_payments.csv')
df_installment

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585
...,...,...,...,...,...,...,...,...
13605396,2186857,428057,0.0,66,-1624.0,NaN,67.500,NaN
13605397,1310347,414406,0.0,47,-1539.0,NaN,67.500,NaN
13605398,1308766,402199,0.0,43,-7.0,NaN,43737.435,NaN
13605399,1062206,409297,0.0,43,-1986.0,NaN,67.500,NaN
13605400,2448869,434321,1.0,19,-27.0,NaN,11504.250,NaN

In [14]:
print(df_installment['SK_ID_PREV'].unique().shape)
print(df_installment['SK_ID_CURR'].unique().shape)

(997752,)
(339587,)

In [15]:
df_installment = df_installment.drop('SK_ID_PREV', axis=1)

In [16]:
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df,
                        columns= categorical_columns,
                        dummy_na= nan_as_category       # Treat NaNs as category
                       )
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

nan_as_category = True

In [17]:
# 4.0 OneHotEncode (OHE) 'object' types in bureau

df_installment, cat_cols = one_hot_encoder(df_installment, nan_as_category= True)

In [18]:
df_installment['DAYS_DIFF'] = df_installment['DAYS_INSTALMENT'] - df_installment['DAYS_ENTRY_PAYMENT']
df_installment['AMT_DIFF'] = df_installment['AMT_INSTALMENT'] - df_installment['AMT_PAYMENT']
df_installment

,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,DAYS_DIFF,AMT_DIFF
0,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360,7.0,0.000
1,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525,0.0,0.000
2,193053,2.0,1,-63.0,-63.0,25425.000,25425.000,0.0,0.000
3,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130,8.0,0.000
4,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585,-17.0,4.455
...,...,...,...,...,...,...,...,...,...
13605396,428057,0.0,66,-1624.0,NaN,67.500,NaN,NaN,NaN
13605397,414406,0.0,47,-1539.0,NaN,67.500,NaN,NaN,NaN
13605398,402199,0.0,43,-7.0,NaN,43737.435,NaN,NaN,NaN
13605399,409297,0.0,43,-1986.0,NaN,67.500,NaN,NaN,NaN
13605400,434321,1.0,19,-27.0,NaN,11504.250,NaN,NaN,NaN

In [19]:
num_aggregations = {
                     'NUM_INSTALMENT_VERSION': ['count', 'mean'],
                     'DAYS_INSTALMENT':        ['mean'],
                     'DAYS_ENTRY_PAYMENT':     ['mean'],
                     'AMT_INSTALMENT':         ['mean'],
                     'AMT_PAYMENT':            ['mean'],
                     'DAYS_DIFF':              ['mean', 'max', 'min'],
                     'AMT_DIFF':               ['mean', 'max', 'min']
                    }

In [20]:
cat_aggregations = {}
for cat in cat_cols:
    cat_aggregations[cat] = ['sum']

# 5.2.1    
cat_aggregations

{}

In [21]:
# 5.3 Perform aggregation now on SK_ID_CURR:

grouped = df_installment.groupby('SK_ID_CURR')
install_agg = grouped.agg({**num_aggregations, **cat_aggregations})

In [22]:
install_agg.columns = pd.Index(['PREV_' + e[0] + "_" + e[1].upper() for e in install_agg.columns.tolist()])
install_agg = install_agg.reset_index()
install_agg

,SK_ID_CURR,PREV_NUM_INSTALMENT_VERSION_COUNT,PREV_NUM_INSTALMENT_VERSION_MEAN,PREV_DAYS_INSTALMENT_MEAN,PREV_DAYS_ENTRY_PAYMENT_MEAN,PREV_AMT_INSTALMENT_MEAN,PREV_AMT_PAYMENT_MEAN,PREV_DAYS_DIFF_MEAN,PREV_DAYS_DIFF_MAX,PREV_DAYS_DIFF_MIN,PREV_AMT_DIFF_MEAN,PREV_AMT_DIFF_MAX,PREV_AMT_DIFF_MIN
0,100001,7,1.142857,-2187.714286,-2195.000000,5885.132143,5885.132143,7.285714,36.0,-11.0,0.00000,0.000,0.000
1,100002,19,1.052632,-295.000000,-315.421053,11559.247105,11559.247105,20.421053,31.0,12.0,0.00000,0.000,0.000
2,100003,25,1.040000,-1378.160000,-1385.320000,64754.586000,64754.586000,7.160000,14.0,1.0,0.00000,0.000,0.000
3,100004,3,1.333333,-754.000000,-761.666667,7096.155000,7096.155000,7.666667,11.0,3.0,0.00000,0.000,0.000
4,100005,9,1.111111,-586.000000,-609.555556,6240.205000,6240.205000,23.555556,37.0,-1.0,0.00000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
339582,456251,7,1.142857,-120.000000,-156.285714,7492.924286,7492.924286,36.285714,46.0,8.0,0.00000,0.000,0.000
339583,456252,6,1.000000,-2391.000000,-2393.833333,10069.867500,10069.867500,2.833333,11.0,-3.0,0.00000,0.000,0.000
339584,456253,14,1.000000,-2372.928571,-2387.428571,4399.707857,4115.915357,14.500000,51.0,-9.0,283.79250,3945.825,0.000
339585,456254,19,1.000000,-142.263158,-161.263158,10239.832895,10239.832895,19.000000,31.0,8.0,0.00000,0.000,0.000
339586,456255,74,1.824324,-463.945946,-472.013514,41464.713649,47646.215878,8.067568,35.0,-7.0,-6181.50223,28641.150,-615229.515

In [23]:
install_agg.to_csv('stat_install.csv', index=False)

In [16]:
install_stats_by_prev = df_installment[['SK_ID_PREV', 'SK_ID_CURR']]

In [18]:
install_NUM_INSTALMENT_VERSION_count = df_installment.groupby('SK_ID_PREV', as_index=False)['NUM_INSTALMENT_VERSION'].count().rename(columns = {'NUM_INSTALMENT_VERSION': 'install_NUM_INSTALMENT_VERSION_count'})
install_stats_by_prev = install_stats_by_prev.merge(install_NUM_INSTALMENT_VERSION_count, on = 'SK_ID_PREV', how = 'left')

install_NUM_INSTALMENT_VERSION_max = df_installment.groupby('SK_ID_PREV', as_index=False)['NUM_INSTALMENT_VERSION'].max().rename(columns = {'NUM_INSTALMENT_VERSION': 'install_NUM_INSTALMENT_VERSION_max'})
install_stats_by_prev = install_stats_by_prev.merge(install_NUM_INSTALMENT_VERSION_max, on = 'SK_ID_PREV', how = 'left')

In [19]:
install_stats_by_prev = calculate_mean(df_installment,install_stats_by_prev, 'DAYS_INSTALMENT', 'install_DAYS_INSTALMENT_mean')
install_stats_by_prev = calculate_mean(df_installment,install_stats_by_prev, 'DAYS_ENTRY_PAYMENT', 'install_DAYS_ENTRY_PAYMENT_mean')
install_stats_by_prev = calculate_mean(df_installment,install_stats_by_prev, 'AMT_INSTALMENT', 'install_AMT_INSTALMENT_mean')
install_stats_by_prev = calculate_mean(df_installment,install_stats_by_prev, 'AMT_PAYMENT', 'install_AMT_PAYMENT_mean')
install_stats_by_prev = calculate_mean(df_installment,install_stats_by_prev, 'DAYS_DIFF', 'install_DAYS_DIFF_mean')

In [20]:
install_DAYS_DIFF_max = df_installment.groupby('SK_ID_PREV', as_index=False)['DAYS_DIFF'].max().rename(columns = {'DAYS_DIFF': 'install_DAYS_DIFF_max'})
install_stats_by_prev = install_stats_by_prev.merge(install_DAYS_DIFF_max, on = 'SK_ID_PREV', how = 'left')

install_DAYS_DIFF_min = df_installment.groupby('SK_ID_PREV', as_index=False)['DAYS_DIFF'].min().rename(columns = {'DAYS_DIFF': 'install_DAYS_DIFF_min'})
install_stats_by_prev = install_stats_by_prev.merge(install_DAYS_DIFF_min, on = 'SK_ID_PREV', how = 'left')

In [21]:
install_AMT_DIFF_mean = df_installment.groupby('SK_ID_PREV', as_index=False)['AMT_DIFF'].mean().rename(columns = {'AMT_DIFF': 'install_AMT_DIFF_mean'})
install_stats_by_prev = install_stats_by_prev.merge(install_AMT_DIFF_mean, on = 'SK_ID_PREV', how = 'left')

install_AMT_DIFF_max = df_installment.groupby('SK_ID_PREV', as_index=False)['AMT_DIFF'].max().rename(columns = {'AMT_DIFF': 'install_AMT_DIFF_max'})
install_stats_by_prev = install_stats_by_prev.merge(install_AMT_DIFF_max, on = 'SK_ID_PREV', how = 'left')

install_AMT_DIFF_min = df_installment.groupby('SK_ID_PREV', as_index=False)['AMT_DIFF'].min().rename(columns = {'AMT_DIFF': 'install_AMT_DIFF_min'})
install_stats_by_prev = install_stats_by_prev.merge(install_AMT_DIFF_min, on = 'SK_ID_PREV', how = 'left')

In [22]:
gc.enable()
del install_NUM_INSTALMENT_VERSION_count, install_NUM_INSTALMENT_VERSION_max, install_DAYS_DIFF_max, install_DAYS_DIFF_min, install_AMT_DIFF_mean, install_AMT_DIFF_max, install_AMT_DIFF_min
gc.collect()

0

In [23]:
install_stats_by_prev

,SK_ID_PREV,SK_ID_CURR,install_NUM_INSTALMENT_VERSION_count,install_NUM_INSTALMENT_VERSION_max,install_DAYS_INSTALMENT_mean,install_DAYS_ENTRY_PAYMENT_mean,install_AMT_INSTALMENT_mean,install_AMT_PAYMENT_mean,install_DAYS_DIFF_mean,install_DAYS_DIFF_max,install_DAYS_DIFF_min,install_AMT_DIFF_mean,install_AMT_DIFF_max,install_AMT_DIFF_min
0,1054186,161674,12,1.0,-1165.000000,-1191.333333,6947.265000,6947.265000,26.333333,65.0,5.0,0.000000,0.000,0.0
1,1330831,151639,103,0.0,-1544.660194,-1547.048544,2358.188301,2325.421311,2.388350,29.0,-5.0,32.766990,2250.000,0.0
2,2085231,193053,3,3.0,-40.333333,-35.000000,11483.070000,11483.070000,-5.333333,7.0,-23.0,0.000000,0.000,0.0
3,2452527,199697,6,1.0,-2403.000000,-2411.000000,24332.977500,24332.977500,8.000000,11.0,5.0,0.000000,0.000,0.0
4,2714724,167756,6,2.0,-1368.000000,-1374.333333,3419.415000,2697.735000,6.333333,38.0,-17.0,721.680000,2160.585,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13605396,2186857,428057,73,0.0,-2159.000000,-2198.753623,12026.142123,12641.919130,6.072464,30.0,-24.0,77.477609,3792.420,0.0
13605397,1310347,414406,49,0.0,-2177.877551,-2226.326087,5899.983061,6277.857065,4.782609,30.0,-5.0,2.505326,115.245,0.0
13605398,1308766,402199,45,0.0,-281.866667,-292.477273,15328.810000,12969.092045,4.363636,16.0,-4.0,1714.067386,22959.585,0.0
13605399,1062206,409297,41,0.0,-2383.560976,-2435.973684,3357.209634,3616.560000,18.657895,30.0,0.0,0.363553,13.815,0.0
13605400,2448869,434321,20,1.0,-291.000000,-361.875000,11504.250000,10621.499062,16.125000,30.0,-31.0,882.750937,11388.735,0.0

In [24]:
install_stats_by_prev['SK_ID_PREV'].unique().shape

(997752,)

In [25]:
def missing_values_table(df):
    # Total missing values
    mis_val = df.isnull().sum()

    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)

    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)

    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : 'Percent Missing (%)'})

    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    'Percent Missing (%)', ascending=False).round(2)

    # Print some summary information
    print ('Your selected dataframe has ' + str(df.shape[1]) + ' columns.\n'
            'There are ' + str(mis_val_table_ren_columns.shape[0]) + ' columns that have missing values.')

    # Return the dataframe with missing information
    return mis_val_table_ren_columns

In [26]:
missing_values_table(credit_stats_by_prev)

Your selected dataframe has 30 columns.
There are 7 columns that have missing values.

                                        Missing Values  Percent Missing (%)
credit_AMT_DRAWINGS_ATM_CURRENT_mean            675293                17.58
credit_AMT_DRAWINGS_OTHER_CURRENT_mean          675293                17.58
credit_AMT_DRAWINGS_POS_CURRENT_mean            675293                17.58
credit_CNT_DRAWINGS_ATM_CURRENT_mean            675293                17.58
credit_CNT_DRAWINGS_OTHER_CURRENT_mean          675293                17.58
credit_CNT_DRAWINGS_POS_CURRENT_mean            675293                17.58
credit_AMT_PAYMENT_CURRENT_mean                 668698                17.41

In [27]:
missing_values_table(install_stats_by_prev)

Your selected dataframe has 14 columns.
There are 8 columns that have missing values.

                                 Missing Values  Percent Missing (%)
install_DAYS_ENTRY_PAYMENT_mean             377                  0.0
install_AMT_PAYMENT_mean                    377                  0.0
install_DAYS_DIFF_mean                      377                  0.0
install_DAYS_DIFF_max                       377                  0.0
install_DAYS_DIFF_min                       377                  0.0
install_AMT_DIFF_mean                       377                  0.0
install_AMT_DIFF_max                        377                  0.0
install_AMT_DIFF_min                        377                  0.0

In [28]:
# from google.colab import files
credit_stats_by_prev.to_csv('stat_cc.csv', index=False)
install_stats_by_prev.to_csv('stat_install.csv', index=False)

In [30]:
import pandas as pd

# Assuming df_cc and df_installment are your DataFrames

# Find the SK_ID_PREV values in df_cc that are also in df_installment
common_sk_ids_cc = df_cc[df_cc['SK_ID_PREV'].isin(df_installment['SK_ID_PREV'])]['SK_ID_PREV'].unique()

# Find the SK_ID_PREV values in df_installment that are also in df_cc
common_sk_ids_installment = df_installment[df_installment['SK_ID_PREV'].isin(df_cc['SK_ID_PREV'])]['SK_ID_PREV'].unique()

#check if the two results are the same.
common_sk_ids = set(common_sk_ids_cc).intersection(set(common_sk_ids_installment))

# Print the common SK_ID_PREV values
# print(common_sk_ids)

#or print the number of common sk_id_prev values.
print(len(common_sk_ids))

# Optionally, create a DataFrame with the common SK_ID_PREV values
common_sk_id_df = pd.DataFrame({'SK_ID_PREV': list(common_sk_ids)})
print(common_sk_id_df)

72466
       SK_ID_PREV
0         1441817
1         1179674
2         1441827
3         1310766
4         1179707
...           ...
72461     1441771
72462     1441777
72463     1441783
72464     1441786
72465     1310716

[72466 rows x 1 columns]